// COLORS
$mainCyan: #25c5ed;
$mainRed:  #de3841;
$mainGrey: #202020;
$mainLite: #494949;
$mainBlue: #2e96db;
$mainDark: #101010;

$socialIcons: #656363;
$borderColor: #edecec;
$greyBackground: #f6f6f6;

// URL(s)
$spirit: "../images/spirit.png";