#slider {
    overflow: hidden;
    position: relative;
    @include breakpoint(xs,sm) {
        margin-top: 108px;
    }
    @include breakpoint(md,lg) {
        margin-top: 113px;
    }
    @extend .clearfix;
    .slides {
        .slide {
            z-index: 1;
            width: 100%;
            position: relative;
            &.clear {
                visibility: hidden;
            }
            &.fixed {
                z-index: 2;
                position: fixed;
            }
        }
    }
    .content {
        z-index: 10;
        color: $white;
        position: absolute;
        @include breakpoint(xs,xs) {
            top: 10%;
            right: 25%;
            text-align: center;
        }
        @include breakpoint(sm,md) {
            top: 10%;
            right: 2%;
        }
        @include breakpoint($screen-lg-min) {
            top: 15%;
            right: 5%;
        }
        .slide-title {
            font-size: 2.4em;
            font-weight: 600;
            margin-bottom: 5px;
        }
        .slide-subtitle {
            margin-top: 0;
            font-size: 1.35em;
            letter-spacing: 3px;
        }
        .slide-btn {
            color: $mainCyan;
            padding: 10px 40px;
            background: $white;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 500;
            @include transition(.3s all ease);
            @include breakpoint(xs,xs) {
                display: block;
                margin-top: 5px;
            }
            @include breakpoint(sm,lg) {
                float: right;
            }
            &:hover {
                color: $white;
                background: $mainCyan;
            }
        }
    }
    .zigzag-bottom {
        left: -5%;
        z-index: 5;
        width: 108%;
        bottom: -15%;
        height: 118px;
        position: absolute;
        background: $white;
        @include transform(rotate(-3deg));
        @include breakpoint(xs,xs) {
            display: none;
        }
    }
}