#body {
    z-index: 10;
    padding: 20px;
    background: $white;
    position: relative;
    .body-section {
        @extend .clearfix;
        .section-header {
            padding: 20px 0;
            font-weight: 700;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
}